# Python
__pycache__/
*.py[cod]
*.pyc
*.pyd
*.pyo

# Environment
venv/
.env  # Remove this line if you want to commit .env

# Session files
flask_session/

# Logs
*.log

# IDE
.vscode/
.idea/

# System
.DS_Store